.searchForm {
    display: flex;
    gap: 1rem;
    position: absolute;
    top: 4%;
    right: 5%;

}



// Details Component
// .DetailsContainer {
//     top: 0;
//     color: black;
//     right: 0;
//     background-color: rgba(197, 62, 50, 0.233);
//     position: absolute;
//     width: 100vw;
//     height: 100vh;
//     pointer-events: none;
//     display: flex;
//     align-items: center;
//     justify-content: flex-end;
// }